<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание вопросов</title>
    {% include 'top_menu_links.html'%}
    <!-- Подключаем стили Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'top_menu.html' %}

    <div class="container mt-5">
        <h1>Создание вопросов</h1>

        <!-- Форма для отправки данных -->
        <form method="POST" id="questionForm" enctype="multipart/form-data">
            <!-- Загрузка изображений -->
            <div class="form-group">
                <label for="image">Загрузить изображение:</label>
                <input type="file" class="form-control-file" id="image" name="image">
            </div>

            <!-- Ввод вопроса -->
            <div class="form-group">
                <label for="text">Вопрос:</label>
                <textarea class="form-control" id="text" name="text" rows="3" required></textarea>
            </div>

            <!-- Выпадающие списки -->
            <div class="form-group">
                <label for="difficulty_id">Сложность:</label>
                <select class="form-control" id="difficulty_id" name="difficulty_id" required>
                    {% for difficulty in difficulties %}
                        <option value="{{ difficulty.id }}">{{ difficulty.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="modality_id">Модальность:</label>
                <select class="form-control" id="modality_id" name="modality_id" required>
                    {% for modal in modals %}
                        <option value="{{ modal.id }}">{{ modal.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="target_body_id">Целевой орган:</label>
                <select class="form-control" id="target_body_id" name="target_body_id" required>
                    {% for target in targets %}
                        <option value="{{ target.id }}">{{ target.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Поле для ввода вариантов ответа -->
            <div class="form-group" id="answerOptionsContainer">
                <label>Варианты ответа:</label>
            </div>
            <button type="button" class="btn btn-primary" id="addAnswerOption">Добавить вариант ответа</button>

            <!-- Кнопка "Сохранить" -->
            <button type="submit" class="btn btn-primary" id="saveButton">Сохранить</button>
          </form>
        <!-- Кнопка "Назад" -->
        <a href="/question" class="btn btn-outline-primary mt-3">Назад</a>
    </div>
    <!-- Модальное окно для предупреждения о минимальном количестве вариантов ответа -->
<div class="modal fade" id="minOptionsModal" tabindex="-1" role="dialog" aria-labelledby="minOptionsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="minOptionsModalLabel">Ошибка</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Необходимо добавить как минимум 3 варианта ответа.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для предупреждения о максимальном количестве вариантов ответа -->
<div class="modal fade" id="maxOptionsModal" tabindex="-1" role="dialog" aria-labelledby="maxOptionsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="maxOptionsModalLabel">Ошибка</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Нельзя добавить больше 5 вариантов ответа.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для предупреждения о превышении лимита вариантов ответа -->
<div class="modal fade" id="limitExceededModal" tabindex="-1" role="dialog" aria-labelledby="limitExceededModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="limitExceededModalLabel">Ошибка</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Нельзя добавить больше 5 вариантов ответа.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для предупреждения об ошибке -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Ошибка</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Произошла ошибка при сохранении данных.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


    <!-- Подключаем скрипты Bootstrap и JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="static/errors.js"></script>
    <script src="static/add_answers.js"></script>

</body>
</html>
