<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Детали вопроса</title>
    {% include 'top_menu_links.html'%}
    <!-- Подключаем стили Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'top_menu.html' %}
    <div class="container">
        <h1>Детали вопроса</h1>
        <div>
            <h3>{{ question.text }}</h3>
            <p>Сложность: {{ question.difficulty.name }}</p>
            <p>Модальность: {{ question.modality.name }}</p>
            <p>Целевой орган: {{ question.target_body.name }}</p>
        </div>
        <div>
            <h4>Варианты ответа:</h4>
            <ul>
                {% for answer in answers %}
                    <li>{{ answer.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <form action="{{ url_for('delete_question', question_id=question.id) }}" method="post">
            <button type="submit" class="btn btn-danger">Удалить вопрос</button>
        </form>
    </div>
</body>
</html>
