<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Детали вопроса</title>
    {% include 'top_menu_links.html'%}
    <!-- Подключаем стили Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .small-image {
            max-width: 200px; /* Максимальная ширина изображения */
            height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
            display: block; /* Делаем изображение блочным элементом */
            margin-top: 20px; /* Отступ сверху */
        }
    </style>
</head>
<body>
    {% include 'top_menu.html' %}
    <div class="container">
        <h1>Детали вопроса</h1>
        <div>
            <h3>TEST 2:39</h3>
            <p>Сложность: Сложно</p>
            <p>Модальность: Рентген</p>
            <p>Целевой орган: Печень</p>
        </div>
        <img src="{{ url_for('static', filename=question.image_url) }}" alt="Uploaded Image" class="small-image">

        <div>
            <h4>Варианты ответа:</h4>
            <ul>
                {% for answer in answers %}
                    <li>{{ answer.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <form action="{{ url_for('delete_question', question_id=question.id) }}" method="post">
            <button type="submit" class="btn btn-danger">Удалить вопрос</button>
        </form>
    </div>
</body>
</html>

