<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ test.name }}</title>
    {%include 'top_menu_links.html'%}

    <style>
        .small-image {
            max-width: 200px;
            height: auto;
            display: block;
            margin: 20px auto; /* Центрируем изображение горизонтально */
        }

        .centered-text {
            text-align: center; /* Центрируем текст */
        }
    </style>

</head>
<body style="background-color: beige;">
{% include 'top_menu.html' %}
<h1 class="text-center">{{ test.name }}</h1>
<img src="{{ url_for('static', filename=test.image_url) }}" alt="Test Image" class="small-image mx-auto">
<div class="centered-text">
    <p><strong>Описание: </strong> {{ test.description }}</p>
    <p><strong>Продолжительность теста в минутах: </strong> {{ test.duration }}</p>
    <form action="/tests/{{ test.id }}/main_go_test" method="POST">
        <button type="submit" class="btn btn-primary">Начать</button> <!-- Используем кнопку Bootstrap -->
    </form>
</div>
</body>
</html>
